/* Write your CSS here */
.trans-tab {
  display: flex;
  justify-content: space-around;
}
.delete {
  height: 3vh;
  width: 1vw;
  margin-top: 1.5rem;
}
.deleteButton {
  border: 0px;
  background-color: transparent;
  margin-left: -0.5 rem;
}
